.llamas1{
    position: relative;
    width: 580px;
    height: 0px;
    left: 230px;
    bottom: 280px;
}
.llamas2{
    position: relative;
    width: 580px;
    height: 0px;
    bottom: 280px;
    right: 350px;
    opacity: 0.2;
    z-index: 4;
}

.Fuego__animacion{
    will-change: animation;
    animation: fuego;
    animation-duration: 2s;
    position: relative;
    height: 700px;
}

.Fuego__animacion_apagar{
    will-change: animation;
    animation: Apagarfuego;
    animation-duration: 1s;
    height: 0;
}




@keyframes fuego {
    0%{
        will-change: bottom;
        will-change: height;
        bottom: 200px;
        height: 700px;
    }
    100%{
        will-change: bottom;
        will-change: height;
        bottom: 280px;
        height: 700px;
    }
}

@keyframes Apagarfuego {
    0%{
        opacity: 0.9;
    }
    100%{
        opacity: 0.1;
    }
}