*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: auto;
}
main{
    width: 100%;
    height: auto;
    perspective: 8px;
    perspective-origin: 50%;
}
.background{
    width: 100%;
    height: auto;
    position: absolute;
}
.space{
    position: relative;
    width: 100%;
    height: 1200px;
    background-image: linear-gradient(to bottom, #000000, #1e0313, #290728, #2b0d44, #001b67);
}
.cielo{
    position: relative;
    width: 100%;
    height: 1000px;
    padding-top: 400px;
    background-image: linear-gradient(to bottom, #001b67, #0053a2, #008bcf, #00c5ed, #00ffff);
}

.piso{
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 800px;
    background-color: #00ffff;
}